name: CI

on:
  pull_request:
  push:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install Deps
      run: pip install -r requirements.txt
    - name: Run Checks
      run: |
        black . --check
        ruff .
